@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.videoList {
    &__wrapper{
        padding: 1rem 1rem 0 1rem;
        @include tablet{
            padding: 1rem 3rem 0 3rem;
        }
    }

    &__title{
        color:$secondary-text-color;
        padding-bottom: 1rem;
        font-size:16px;
    }

    &__list{
        list-style-type: none;
        padding-left: 0;
    }
    &__item{
        display: flex;
        padding-bottom: 0.75rem;
        @include tablet {
            width: 60%;
        }
    }
    
}