$primary-text-color: #323232;
$primary-cta-color: #0095ff;
$secondary-text-color: #afafaf;
$background-color: #ffffff;
$video-player-component: #000000;
$cta-hover-state: #0065ad;
$divider-line: #e1e1e1;
$form-field-background-color: #fafafa;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;