@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.comment{
    &__wrapper{
        display: flex;
        border-top: 1px solid $divider-line;
        margin-top: 1rem;
        // justify-content: space-between;
        
    }

    &__image{
        background-color: $divider-line;
        width: 2.25rem;
        height:2.25rem;
        border-radius: 50%;
        padding-right: 2.25rem;
        position: relative;
        top: 1.2rem;
    }

    &__wrapper--right{
        margin-left:1rem;
    }

    &__name-date-wrapper{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__time{
        color: $secondary-text-color;
    }
       
    &__text{
        line-height: 25px;
        margin-top: 0;
    }

}