@import '../../styles/partials/variables';

.comment{
    &__wrapper{
        display: flex;
        border-top: 1px solid $divider-line;
        margin-top: 1rem;
        justify-content: space-between;
        &:last-child{
            border-bottom: 1px solid $divider-line;
        }
    }

    &__image{
        background-color: $divider-line;
        width: 2.25rem;
        height:2.25rem;
        border-radius: 50%;
        padding-right: 2.25rem;
        position: relative;
        top: 1.2rem;
    }


    &__name-date-wrapper{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__time{
        color: $secondary-text-color;
    }
       
    

}