@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.comment{

    &__image{
        background-color: $divider-line;
        width: 2.25rem;
        height:2.25rem;
        border-radius: 50%;
        padding-right: 2.25rem;
        position: relative;
        top: 1.2rem;
    }

    //wraps everything right of the image//

    &__wrapper--right{
        margin-left:1rem;
        width:100%;
    }

    //wraps just name and time//

    &__name-date-wrapper{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    //comment time//

    &__time{
        color: $secondary-text-color;
    }
       
    //comment text//
    
    &__text{
        line-height: 25px;
        margin-top: 0;
    }

     //wraps around like and delete buttons//

     &__buttons-wrapper{
        padding-bottom: 1rem;
    }

    //delete button//

    &__buttons{
        @include cta;
        @include tablet{
            width:20%;
        }
        &:hover{
            cursor: pointer;
        }
    }

}