@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.commentForm{

    //wraps entire section//

    &__wrapper{
        display: flex;
    }

    &__image{
        width: 2.25rem;
        height:2.25rem;
        border-radius: 50%;
        position: relative;
        top:1.7rem;
        margin-right: 1rem;
    }

    //wraps input title, form, and button//
    
    &__wrapper--right{
        @include tablet{
            display: flex;
            justify-content: space-between;
            width:100%;
            align-items: center;
        }
        @include desktop{
            padding-right: 1.5rem;
        }
    }

    //wraps input title and form//

    &__input-wrapper{
        @include tablet{
            width: 65%;
        }
    }

    //input title//

    &__title{
        margin:0;
        font-weight: 700;
        color: $secondary-text-color;
    }

    //input area//

    &__input{
        width:100%;
        padding:0.75rem 0 4rem 0.75rem;
        margin: 0.5rem 0 0.75rem 0;
        border: 1px solid $divider-line;
        border-radius: 4px;
        font-size: 1rem;
        @include tablet{
            padding: 0.75rem 0 0 0.75rem;
            margin-bottom: 1rem;
        }
    }

    &__button{
        width:100%;
        background: url("../../assets/Icons/add_comment.svg")no-repeat 13px center;
        @include cta;
        @include tablet{
            width: 30%;
            padding: 0.9rem 0;
        }
    }
}