@import '../../styles/partials/_variables.scss';

.header{
    padding:1rem;

    &__logo-wrapper {
    display: flex;
    justify-content: center;
    }

    &__logo{
        width: 7.5rem;
        height:1.5rem;
    }

    &__input{
    padding: 0.5rem 0 0.5rem 2.75rem;
    background: url("../../assets/Icons/search.svg") no-repeat 13px center;
    background-size: 1.25rem;
    margin-bottom: 1rem;
    width: 80%;
    background-color: $form-field-background-color;
    border-color: $divider-line;
    border-radius: 4px;
    line-height: 1.25rem;
    font-weight: 700;
    color: $primary-text-color;
    }

    
    &__img {
        width: 2.25rem;
        height:2.25rem;
        border-radius: 50%;
        position: relative;
        left:1rem;
        top:0.75rem;
        }

    &__button{
    width: 100%;
    background: url("../../assets/Icons/upload.svg") no-repeat 13px center;
    background-color: $primary-cta-color;
    border: 0;
    padding: 0.75rem;
    border-radius: 4px;
    color:$background-color;
    line-height: 1.25rem;
    font-weight: 700;
    }
}