@import '../../styles/partials/_variables.scss';
@import '../../styles/partials/mixins';

.header {

    //wraps everything//

    &__wrapper{
    padding:1rem;
    @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        padding: 1rem 3rem 1rem 3rem;
    }
        @include desktop{
            padding: 1rem 6rem 1rem 6rem;
        }
    }

    //wraps the logo//

    &__logo-wrapper {
    display: flex;
    justify-content: center;
        @include tablet{
            align-items: center;
        }
    }

    &__logo{
        width: 7.5rem;
        height:1.5rem;
    }

    //wraps search bar, image, and button//

    &__input-wrapper{
        margin-top: 1rem;
        @include tablet{
            display: flex;
            align-items: center;
            // margin-right: 3rem;
            width: 65%;
            margin-top: 0;
            justify-content: space-between;
        }
        @include desktop{
            width: 50%;
        }
    }

    //search bar//
    
    &__input{
        padding: 0.5rem 0 0.5rem 2.75rem;
        background: url("../../assets/Icons/search.svg") no-repeat 13px center;
        background-size: 1.25rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: 82%;
        background-color: $form-field-background-color;
        border:1px solid $divider-line;
        border-radius: 4px;
        line-height: 1.25rem;
        font-weight: 700;
        color: $primary-text-color;
        &:focus{
            outline: none;
            border-color: $primary-cta-color;
        }
        @include tablet{
            margin-bottom: 0;
            width:100%;
            padding: 0.75rem 0 0.75rem 2.75rem;
            margin-right: 1rem;
        }
    }

    //image//

    &__img {
        width: 2.25rem;
        height:2.25rem;
        border-radius: 50%;
        position: absolute;
        @include tablet{  
          width: 2.5rem;
          height: 2.5rem;
          order: 3;
          position: initial;
        }
    }

    //if image is not provided//

    &__no-img{
        background-color: $divider-line;
        width: 2.25rem;
        height:2.25rem;
        border-radius: 50%;
    }

    //upload button//
    
    &__button{
    width: 100%;
    background: url("../../assets/Icons/upload.svg") no-repeat 13px center;
    @include cta;
    @include tablet{
        margin: 0 1.5rem 0 1rem;
        width: 60%
    }
    @include desktop{
        width: 60%;
    }
    }

    &__button-link{
        text-decoration: none;
        color:$background-color;
    }
}