@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.commentList{
    &__wrapper{
        padding:0 1rem;
        @include tablet{
            padding: 0 3rem;
        }
    }

    &__title{
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    &__list{
        list-style-type: none;
        padding-left: 0;
    }

    &__item{
        display: flex;
        // justify-content: space-between;
        border-top: 1px solid $divider-line;
        &:last-child{
            border-bottom: 1px solid $divider-line;
        }
    }

    
}