@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';


.main{
    border-top: 1px solid $divider-line;
    padding: 1rem 1rem;

    &__wrapper{
        padding:0;
    }

    &__image{
        width:100%;
        height:100%;
        border-radius: 4px;
        margin-bottom: 0.5rem;
    }

    &__label{
        color:$secondary-text-color; 
        display: block;
        padding-bottom:0.5rem;
        padding-top: 1rem;
        &:last-of-type{
            margin-top: 0.5rem;
        }
    }
    
    &__input{
        width:100%;
        border:1px solid $divider-line;
        background-color: $form-field-background-color;
    }

    &__input--title{
        padding: 0.5rem 0 0.5rem 0.5rem;
    }

    &__input--description{
        padding: 0.5rem 0 4rem 0.5rem;
    }

    &__button-wrapper{
        margin-top: 2rem;
    }

    &__button{
        display:block;
        width:100%;
        margin-bottom: 2rem;
        background:url("../../assets/Icons/publish.svg") no-repeat 13px center;
        @include cta;
    }

    &__button--different{
        background-color: white;
        color: $primary-cta-color;
    }
}